Repository newrelic/go-easy-instrumentation: changes, and which Codecov flags are due for each by the changed paths.
All: Parser, Codegen, Utilities

feat: add application scanning and transaction caching debugging to instrumentation process
  cmd/instrument.go
Due: none

refactor: rename CheckForExistingApplicationInMain to checkForExistingApplicationInMain
  parser/agent.go
Due: Parser

feat: track existing code in function literals
  parser/agent.go
  parser/tracing.go
Due: Parser

feat: enhance TraceFunction to check for existing segments before creation
  parser/tracing.go
Due: Parser

refactor: change naming of semi-instrumented example folders
  end-to-end-tests/semi-instrumented/existing-app/expect.ref
  end-to-end-tests/semi-instrumented/existing-app/main.go
  end-to-end-tests/semi-instrumented/existing-transactions/main.go
  end-to-end-tests/semi-instrumented/existing-web-app/main.go
Due: none

feat: implement transaction detection testing
  parser/preinstrumentationtracing.go
  parser/preinstrumentationtracing_test.go
  parser/transactioncache/transactioncache.go
Due: Parser

refactor: transaction cache now stores txns as idents instead of strings
  parser/preinstrumentationtracing.go
  parser/tracing.go
  parser/transactioncache/transactioncache.go
Due: Parser

refactor: standardize transaction parameter naming in functions for tests
  end-to-end-tests/semi-instrumented/existing-transactions/main.go
Due: none

refactor: update semi-instrumented test case name
  end-to-end-tests/testcases.json
Due: none

refactor: de-nest if statements
  parser/preinstrumentationtracing.go
Due: Parser

refactor: revert de-nesting in recursive function call checks
  parser/preinstrumentationtracing.go
Due: Parser

refactor: fix trace if gates for adding parameters to functions
  parser/tracing.go
Due: Parser

fix: removed duplicate call graph creation and added expect ref for semi-instrumented test
  end-to-end-tests/semi-instrumented/existing-transactions/expect.ref
  parser/manager.go
Due: Parser

refactor: add call graph creation in InstrumentApplication method for tests
  parser/manager.go
Due: Parser

refactor: create InstrumentTestApplication for clarity in testing context
  parser/manager.go
  parser/utils_test.go
Due: Parser

Remove Debug Line
  cmd/instrument.go
Due: none

fix: Remove unneccesary recording var
  parser/preinstrumentationtracing.go
Due: Parser

refactor(net/http): refactor http handler detection (#102)
  parser/netHTTP.go
  parser/netHTTP_test.go
Due: Parser

test: add chi middleware test
  parser/gochi_test.go
Due: Parser

feat(chi): add nr middleware injection
  internal/codegen/gochi.go
  parser/gochi.go
Due: Parser, Codegen

fix(chi): add chi injection to manager
  parser/manager.go
Due: Parser

test(chi): add chi codegen unit test
  internal/codegen/gochi_test.go
Due: Codegen

feat(chi): add Chi e2e tests
  end-to-end-tests/gochi/expect.ref
  end-to-end-tests/gochi/go.mod
  end-to-end-tests/gochi/go.sum
  end-to-end-tests/gochi/main.go
Due: none

fix: add alias for dst/ast recognition
  parser/gochi_test.go
Due: Parser

fix(chi): correct import path
  parser/gochi.go
Due: Parser

add NoticeError external call to e2e app
  end-to-end-tests/gochi/expect.ref
  end-to-end-tests/gochi/main.go
Due: none

test: add gochi parser test
  parser/gochi_test.go
Due: Parser

feat: add function literal instrumentation for Chi routes
  parser/gochi.go
  parser/manager.go
Due: Parser

test: add segment injection to function literal expect
  end-to-end-tests/gochi/expect.ref
  end-to-end-tests/gochi/main.go
Due: none

update function name and exported fn comments
  parser/gochi.go
  parser/gochi_test.go
  parser/manager.go
Due: Parser

chore: improve function descriptions
  parser/gochi.go
Due: Parser

add non-main test
  parser/gochi_test.go
Due: Parser

fix: exit if request arg name is empty
  parser/gochi.go
Due: Parser

test: add Chi Literal test
  parser/gochi_test.go
Due: Parser

refactor(transactioncache): unify transaction data in cache
  parser/preinstrumentationtracing.go
  parser/transactioncache/transactioncache.go
Due: Parser

chore: update struct comment descriptions
  parser/transactioncache/transactioncache.go
Due: Parser

refactor(transactioncache): unify transaction data in cache (#103)
  parser/preinstrumentationtracing.go
  parser/transactioncache/transactioncache.go
Due: Parser

use general http reqArg function
  parser/gochi.go
Due: Parser

add gochi to testrunner
  end-to-end-tests/gochi/go.mod
  end-to-end-tests/testcases.json
Due: none

feat(chi): add support for Go Chi instrumentation (#97)
  end-to-end-tests/gochi/expect.ref
  end-to-end-tests/gochi/go.mod
  end-to-end-tests/gochi/go.sum
  end-to-end-tests/gochi/main.go
  end-to-end-tests/testcases.json
  internal/codegen/gochi.go
  internal/codegen/gochi_test.go
  parser/gochi.go
  parser/gochi_test.go
  parser/manager.go
Due: Parser, Codegen

Path conditions:
  Parser: any of: parser/**, but not: end-to-end-tests/**
  Codegen: any of: internal/codegen/**, but not: end-to-end-tests/**
  Utilities: any of: internal/util/**, but not: end-to-end-tests/**
