Repository newrelic/go-easy-instrumentation: changes, and which Codecov flags are due for each by the changed paths.
All: Parser, Codegen, Utilities

codecov.yml:

coverage:
  range: 60..80
  round: nearest
  precision: 2

ignore:
  - end-to-end-tests/**

component_management:
  individual_components:
    - component_id: parser
      name: Parser
      paths: 
        - parser/** 
    - component_id: codegen
      name: Codegen
      paths: 
        - internal/codegen/**
    - component_id: util
      name: Utilities
      paths: 
        - internal/util/**

refactor: simplify ScanApplication and InstrumentApplication signatures by removing unused parameters
  parser/manager.go
  parser/preinstrumentationtracing_test.go
Due: Parser

Update parser/agent.go
  parser/agent.go
Due: Parser

refactor: remove unused preinstrumentation tracing function from manager
  parser/preinstrumentationtracing_test.go
Due: Parser

feat: add TracePackageCalls method and remove TestInstrumentApplication
  cmd/instrument.go
  parser/manager.go
  parser/utils_test.go
Due: Parser

refactor: add stateless tracing function to manager before tracing package calls
  parser/utils_test.go
Due: Parser

fix: ensure function tracing check only occurs for non-empty function names
  parser/tracing.go
Due: Parser

refactor: check function name is nil within IsFunctionInTransactionScope function
  parser/tracing.go
  parser/transactioncache/transactioncache.go
Due: Parser

refactor: check if cursor is nil
  parser/agent.go
Due: Parser

Update parser/transactioncache/transactioncache.go
  parser/transactioncache/transactioncache.go
Due: Parser

refactor: enhance application detection functions with additional checks for nil values
  parser/agent.go
Due: Parser

refactor: streamline transaction parameter check in TraceFunction and add helper method
  go.mod
  parser/tracing.go
Due: Parser

feat: Add Existing Error Tracking
  end-to-end-tests/semi-instrumented/existing-errors/expect.ref
  end-to-end-tests/semi-instrumented/existing-errors/main.go
  parser/agent.go
  parser/errorcache/error_cache.go
  parser/manager.go
  parser/preinstrumentationtracing.go
Due: Parser

refactor: replace manager from shouldNoticeError with decorator package
  parser/agent.go
Due: Parser

refactor: simplify shouldNoticeError call by using pkg directly
  parser/agent.go
Due: Parser

refactor : add check for setupFunc
  parser/agent.go
Due: Parser

feat: Add error detection test for existing errors in function
  parser/errorcache/error_cache.go
  parser/preinstrumentationtracing_test.go
Due: Parser

feat(tracing): enhance transaction detection and handling for wrapped routes
  parser/manager.go
  parser/netHTTP.go
  parser/preinstrumentationtracing.go
  parser/transactioncache/transactioncache.go
Due: Parser

refactor: simplify AddFuncDecl method and improve wrapped route detection
  parser/netHTTP.go
  parser/transactioncache/transactioncache.go
Due: Parser

feat: WIP Slog example
  end-to-end-tests/slog-examples/main.go
  internal/codegen/slog.go
  parser/manager.go
  parser/slog.go
Due: Parser, Codegen

feat(tests): add tests for handler instrumentation and wrapped route detection
  parser/netHTTP_test.go
Due: Parser

Detect existing client roundtripper
  parser/netHTTP.go
Due: Parser

add expect ref
  end-to-end-tests/semi-instrumented/existing-web-app/expect.ref
Due: none

Fix typo in roundtripper test
  parser/netHTTP.go
  parser/netHTTP_test.go
Due: Parser

revert client test changes
  parser/netHTTP.go
  parser/netHTTP_test.go
Due: Parser

feat(mysql): Detect QueryRow,Query, Exec calls
  end-to-end-tests/mysql/main.go
  parser/manager.go
  parser/mysql.go
Due: Parser

feat(parser): Add SQL transaction instrumentation functions and tests
  internal/codegen/mysql.go
  parser/mysql.go
  parser/mysql_test.go
Due: Parser, Codegen

feat(mysql): Initialize go.mod and go.sum for MySQL end-to-end tests
  end-to-end-tests/mysql/go.mod
  end-to-end-tests/mysql/go.sum
  go.mod
  go.sum
Due: none

feat(parser): Add instrumentation for QueryRow and Query with loop in SQL handler tests
  parser/mysql_test.go
Due: Parser

Existing Error Tracing (#104)
  end-to-end-tests/semi-instrumented/existing-errors/expect.ref
  end-to-end-tests/semi-instrumented/existing-errors/main.go
  parser/agent.go
  parser/errorcache/error_cache.go
  parser/manager.go
  parser/preinstrumentationtracing.go
  parser/preinstrumentationtracing_test.go
Due: Parser

Existing Net/HTTP detection + Contextual Transaction Detection (#111)
  end-to-end-tests/semi-instrumented/existing-web-app/expect.ref
  parser/manager.go
  parser/netHTTP.go
  parser/netHTTP_test.go
  parser/preinstrumentationtracing.go
  parser/transactioncache/transactioncache.go
Due: Parser

slog instrumentation
  end-to-end-tests/grpc/go.mod
  end-to-end-tests/http-app/go.mod
  end-to-end-tests/http-mux-app/go.mod
  end-to-end-tests/slog-examples/expect.ref
  end-to-end-tests/slog-examples/main.go
  end-to-end-tests/testcases.json
  go.mod
  go.sum
  internal/codegen/slog.go
  parser/manager.go
  parser/slog.go
Due: Parser, Codegen

yoda condition be gone!
  end-to-end-tests/mysql/main.go
Due: none

added comment
  parser/slog.go
Due: Parser

minor additions
  README.md
Due: none

Update Readme
  README.md
Due: none

update PATH naming
  README.md
Due: none

Update README.md
  README.md
Due: none

Add tests for InstrumentationManager and related functions
  parser/manager_test.go
Due: Parser

Add more testing for errors, grpc,mysql, and transactions
  internal/codegen/error_test.go
  internal/codegen/grpc_test.go
  internal/codegen/mysql_test.go
  internal/codegen/transaction_test.go
Due: Codegen

Add tests for InstrumentationManager and related functions (#122)
  internal/codegen/error_test.go
  internal/codegen/grpc_test.go
  internal/codegen/mysql_test.go
  internal/codegen/transaction_test.go
  parser/manager_test.go
Due: Parser, Codegen
