Repository newrelic/go-easy-instrumentation: changes, and which Codecov flags are due for each by the changed paths.
All: Parser, Codegen, Utilities

codecov.yml:

coverage:
  range: 60..80
  round: nearest
  precision: 2

ignore:
  - end-to-end-tests/**

component_management:
  individual_components:
    - component_id: parser
      name: Parser
      paths: 
        - parser/** 
    - component_id: codegen
      name: Codegen
      paths: 
        - internal/codegen/**
    - component_id: util
      name: Utilities
      paths: 
        - internal/util/**

codegen change
  parser/gin.go
Due: Parser

multiple anon function support and bug fixes
  end-to-end-tests/gin-app/main.go
  end-to-end-tests/gin/main.go
  parser/gin.go
Due: Parser

fix: trace state tracking moved to its own library
  end-to-end-tests/http-mux-app/expect.ref
  internal/codegen/style.go
  internal/codegen/transaction.go
  internal/codegen/transaction_test.go
  internal/common/common.go
  parser/agent.go
  parser/agent_test.go
  parser/grpc.go
  parser/manager.go
  parser/manager_test.go
  parser/netHTTP.go
  parser/tracestate/state.go
  parser/tracestate/traceobject/context.go
  parser/tracestate/traceobject/transaction.go
  parser/tracestate/traceobject/type.go
  parser/tracing.go
  parser/tracing_test.go
  parser/types.go
  parser/utils_test.go
Due: Parser, Codegen

Feat: Major update to tracing
  end-to-end-tests/function-literal/main.go
  go.mod
  go.sum
  internal/codegen/context.go
  internal/codegen/error.go
  internal/codegen/transaction.go
  internal/util/compare.go
  internal/util/compare_test.go
  internal/util/typeInfo.go
  internal/util/typeInfo_test.go
  parser/agent.go
  parser/agent_test.go
  parser/grpc.go
  parser/manager.go
  parser/manager_test.go
  parser/netHTTP.go
  parser/netHTTP_test.go
  parser/tracestate/state.go
  parser/tracestate/state_test.go
  parser/tracestate/traceobject/context.go
  parser/tracestate/traceobject/transaction.go
  parser/tracestate/traceobject/type.go
  parser/tracing.go
Due: Parser, Codegen, Utilities

feat: unit test coverage for trace objects
  end-to-end-tests/function-literal/main.go
  end-to-end-tests/grpc/expect.ref
  end-to-end-tests/http-app/expect.ref
  end-to-end-tests/http-app/handlers.go
  end-to-end-tests/http-app/main.go
  end-to-end-tests/http-mux-app/expect.ref
  go.mod
  go.sum
  internal/codegen/README.md
  internal/codegen/context.go
  internal/codegen/error.go
  internal/codegen/grpc.go
  internal/codegen/http.go
  internal/codegen/http_test.go
  internal/codegen/segment.go
  internal/codegen/segment_test.go
  internal/codegen/style.go
  internal/codegen/transaction.go
  internal/codegen/transaction_test.go
  internal/util/debug.go
  internal/util/typeInfo.go
  parser/agent.go
  parser/agent_test.go
  parser/netHTTP.go
  parser/netHTTP_test.go
  parser/tracestate/state.go
  parser/tracestate/state_test.go
  parser/tracestate/traceobject/context.go
  parser/tracestate/traceobject/context_test.go
  parser/tracestate/traceobject/transaction.go
  parser/tracestate/traceobject/transaction_test.go
  parser/tracestate/traceobject/type.go
  parser/tracing.go
  parser/utils_test.go
Due: Parser, Codegen, Utilities

fix: AgentVariable() should invoke TransactionVariable()
  internal/codegen/transaction.go
  parser/tracestate/state.go
Due: Parser, Codegen

fix: baby unit test for AgentVariable
  parser/tracestate/state_test.go
Due: Parser

Added changes to support latest go-easy version
  end-to-end-tests/gin-examples/secure-web-app/README.md
  end-to-end-tests/gin-examples/secure-web-app/main.go
  internal/codegen/gin.go
  parser/gin.go
  parser/manager.go
Due: Parser, Codegen

Remove unused function
  internal/codegen/gin.go
Due: Codegen

func lit varibles and unit tests
  parser/tracestate/state.go
  parser/tracestate/state_test.go
Due: Parser

more unit test coverage
  internal/codegen/context.go
  internal/codegen/transaction.go
  parser/tracestate/state_test.go
Due: Parser, Codegen

handle if statements with an initialization
  end-to-end-tests/errors/expect.ref
  end-to-end-tests/errors/main.go
  end-to-end-tests/grpc/expect.ref
  end-to-end-tests/testcases.json
  parser/agent.go
Due: Parser

Added Codegen unit tests
  internal/codegen/gin_test.go
Due: Codegen

Gin Tracing
  end-to-end-tests/gin-app/main.go
  parser/gin.go
  parser/gin_test.go
Due: Parser

bug: prevent tracing of generated grpc files
  parser/manager.go
  parser/tracing.go
Due: Parser

feat: propogate tracing to all declared functions
  parser/agent.go
  parser/agent_test.go
  parser/grpc.go
  parser/netHTTP.go
  parser/netHTTP_test.go
  parser/tracing.go
  parser/tracing_test.go
Due: Parser

fix: clean up tracing
  parser/grpc.go
  parser/netHTTP.go
  parser/tracing.go
Due: Parser

Fixed an issue where http.Get() was being detected as gin's .GET() function
  parser/netHTTP.go
Due: Parser

support for anon functions
  internal/codegen/gin.go
  parser/facts/fact.go
  parser/gin.go
  parser/manager.go
Due: Parser, Codegen

fix: update tests for more tracing propogation
  end-to-end-tests/grpc/expect.ref
  end-to-end-tests/grpc/go.sum
  end-to-end-tests/http-app/expect.ref
  end-to-end-tests/http-app/main.go
  end-to-end-tests/http-app/pkg/service.go
  end-to-end-tests/http-mux-app/expect.ref
  internal/codegen/style.go
  internal/codegen/style_test.go
  parser/agent.go
  parser/netHTTP.go
  parser/tracing.go
Due: Parser, Codegen

spacing
  parser/netHTTP.go
Due: Parser

Feat: Major update to tracing
  .gitignore
  go.sum
  remove-gin-diffs.sh
Due: none

Update README.md
  README.md
Due: none

Feat: Major update to tracing
  end-to-end-tests/function-literal/main.go
  internal/codegen/context.go
  internal/codegen/error.go
  internal/codegen/transaction.go
  internal/util/compare.go
  internal/util/compare_test.go
  internal/util/typeInfo.go
  internal/util/typeInfo_test.go
  parser/agent.go
  parser/agent_test.go
  parser/grpc.go
  parser/manager.go
  parser/manager_test.go
  parser/netHTTP.go
  parser/netHTTP_test.go
  parser/tracestate/state.go
  parser/tracestate/state_test.go
  parser/tracestate/traceobject/context.go
  parser/tracestate/traceobject/transaction.go
  parser/tracestate/traceobject/type.go
  parser/tracing.go
Due: Parser, Codegen, Utilities

Add tests for tracing anonymous and named Gin functions
  parser/gin_test.go
Due: Parser

go sum
  go.sum
Due: none
