Repository newrelic/go-easy-instrumentation: changes, and which Codecov flags are due for each by the changed paths.
All: Parser, Codegen, Utilities

codecov.yml:

coverage:
  range: 60..80
  round: nearest
  precision: 2

ignore:
  - end-to-end-tests/**

component_management:
  individual_components:
    - component_id: parser
      name: Parser
      paths: 
        - parser/** 
    - component_id: codegen
      name: Codegen
      paths: 
        - internal/codegen/**
    - component_id: util
      name: Utilities
      paths: 
        - internal/util/**

Bump Go Version: 1.23.2
  go.mod
Due: none

Added correct error handling
  end-to-end-tests/err/main.go
  end-to-end-tests/http-app/go.mod
  end-to-end-tests/http-app/go.sum
  go.mod
  go.sum
  parser/agent.go
  parser/agent_test.go
  parser/manager.go
  parser/netHTTP_test.go
Due: Parser

updated expect.ref
  end-to-end-tests/http-app/expect.ref
Due: none

updated grpc and mux ref
  end-to-end-tests/grpc/expect.ref
  end-to-end-tests/http-mux-app/expect.ref
Due: none

re-fixed ref :)
  end-to-end-tests/grpc/expect.ref
  end-to-end-tests/http-app/expect.ref
  end-to-end-tests/http-mux-app/expect.ref
Due: none

one more ref update..
  end-to-end-tests/grpc/expect.ref
Due: none

Remove err folder
  end-to-end-tests/err/main.go
Due: none

Tracking Unnoticed errors
  internal/codegen/transaction.go
  internal/util/typeInfo.go
  parser/agent.go
  parser/errorcache/error_cache.go
  parser/manager.go
  parser/tracing.go
Due: Parser, Codegen, Utilities

minor fixes
  end-to-end-tests/http-app/go.mod
  go.mod
  internal/codegen/transaction.go
Due: Codegen

Create feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

go sums
  end-to-end-tests/http-app/go.sum
  go.sum
Due: none

fixed tests
  internal/codegen/transaction_test.go
  parser/agent_test.go
Due: Parser, Codegen

cleaned up / more edge cases
  internal/codegen/transaction.go
  parser/agent.go
  parser/tracing.go
Due: Parser, Codegen

improved tracing and context handling
  internal/codegen/context.go
  internal/codegen/transaction.go
  internal/codegen/transaction_test.go
  internal/comments/info.go
  internal/util/typeInfo.go
  parser/grpc.go
  parser/manager.go
  parser/tracecontext/context.go
  parser/tracecontext/context_test.go
  parser/tracecontext/errors.go
  parser/tracecontext/grpc.go
  parser/tracecontext/transaction.go
  parser/tracecontext/transaction_test.go
  parser/tracecontext/type.go
  parser/tracecontext/types_test.go
  parser/tracecontext/util.go
  parser/tracing.go
Due: Parser, Codegen, Utilities

console printing and standard NR comment headers
  internal/comment/comment.go
  internal/comment/comment_test.go
  internal/comment/console.go
  internal/comment/console_test.go
  internal/util/typeInfo.go
  parser/manager.go
Due: Parser, Utilities

write all comments
  internal/comment/console.go
  main.go
Due: none

update expect
  end-to-end-tests/http-app/expect.ref
Due: none

Update feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

disable by default
  cli/CLI.go
  main.go
  parser/manager.go
Due: Parser

Fixed multiple test cases
  end-to-end-tests/errors/main.go
  internal/codegen/transaction.go
  parser/agent.go
  parser/tracing.go
Due: Parser, Codegen

chore: Enable console printing and add standard New Relic comment headers
  internal/codegen/transaction_test.go
  parser/manager.go
Due: Parser, Codegen

Fix Expect Refs
  end-to-end-tests/grpc/expect.ref
  end-to-end-tests/grpc/go.mod
  end-to-end-tests/http-mux-app/expect.ref
Due: none

fixed agent tests
  parser/agent.go
  parser/manager.go
  parser/tracing.go
Due: Parser

Removing local testing examples
  end-to-end-tests/errors/main.go
Due: none

init commit
  end-to-end-tests/gin/main.go
  end-to-end-tests/http-app/go.mod
  end-to-end-tests/http-app/go.sum
  go.mod
  go.sum
  internal/codegen/gin.go
  parser/gin.go
  parser/manager.go
  parser/tracing.go
Due: Parser, Codegen

remove go sum
  go.sum
Due: none

tidy
  end-to-end-tests/http-app/go.mod
  end-to-end-tests/http-app/go.sum
Due: none

removed some extra comments
  parser/tracing.go
Due: Parser

whitespace
  parser/tracing.go
Due: Parser

Add txn to gin functions
  end-to-end-tests/gin/main.go
  parser/gin.go
  parser/manager.go
Due: Parser

staging commit
  cli/CLI.go
  internal/codegen/agent.go
  internal/codegen/context.go
  internal/codegen/transaction.go
  internal/comments/info.go
  internal/util/typeInfo.go
  parser/agent.go
  parser/agent_test.go
  parser/grpc.go
  parser/manager.go
  parser/manager_test.go
  parser/netHTTP.go
  parser/tracecontext/context.go
  parser/tracecontext/context_test.go
  parser/tracecontext/transaction.go
  parser/tracecontext/transaction_test.go
  parser/tracecontext/type.go
  parser/tracecontext/types_test.go
  parser/tracing.go
  parser/types.go
  parser/utils_test.go
Due: Parser, Codegen, Utilities

Fixed an issue where http.Get() was being detected as gin's .GET() function
  parser/netHTTP.go
Due: Parser

spacing
  parser/netHTTP.go
Due: Parser

feat: propogate tracing to all declared functions
  parser/agent.go
  parser/agent_test.go
  parser/grpc.go
  parser/netHTTP.go
  parser/netHTTP_test.go
  parser/tracing.go
  parser/tracing_test.go
Due: Parser

bug: prevent tracing of generated grpc files
  parser/manager.go
  parser/tracing.go
Due: Parser

fix: update tests for more tracing propogation
  end-to-end-tests/grpc/expect.ref
  end-to-end-tests/grpc/go.sum
  end-to-end-tests/http-app/expect.ref
  end-to-end-tests/http-app/main.go
  end-to-end-tests/http-app/pkg/service.go
  end-to-end-tests/http-mux-app/expect.ref
  internal/codegen/style.go
  internal/codegen/style_test.go
  parser/agent.go
  parser/netHTTP.go
  parser/tracing.go
Due: Parser, Codegen

fix: clean up tracing
  parser/grpc.go
  parser/netHTTP.go
  parser/tracing.go
Due: Parser

support for anon functions
  internal/codegen/gin.go
  parser/facts/fact.go
  parser/gin.go
  parser/manager.go
Due: Parser, Codegen
