Repository newrelic/go-easy-instrumentation: changes, and which Codecov flags are due for each by the changed paths.
All: Parser, Codegen, Utilities

codecov.yml:

coverage:
  range: 60..80
  round: nearest
  precision: 2

ignore:
  - end-to-end-tests/**

component_management:
  individual_components:
    - component_id: parser
      name: Parser
      paths: 
        - parser/** 
    - component_id: codegen
      name: Codegen
      paths: 
        - internal/codegen/**
    - component_id: util
      name: Utilities
      paths: 
        - internal/util/**

Update README with installation instructions and usage examples for go-easy-instrumentation
  README.md
Due: none

Update README to replace experimental project banner with Community Plus header
  README.md
Due: none

Remove preview notice and update support section in README
  README.md
Due: none

Reorganize nrslog integration into self-contained package
  end-to-end-tests/testcases.json
  go.mod
  go.sum
  integrations/nrslog/codegen.go
  integrations/nrslog/example/slog-examples/expect.ref
  integrations/nrslog/example/slog-examples/main.go
  integrations/nrslog/slog.go
  parser/manager.go
Due: Parser

Reorganize nrmysql integration into self-contained package
  end-to-end-tests/testcases.json
  integrations/nrmysql/codegen.go
  integrations/nrmysql/example/mysql/go.mod
  integrations/nrmysql/example/mysql/go.sum
  integrations/nrmysql/example/mysql/main.go
  integrations/nrmysql/mysql.go
  parser/manager.go
Due: Parser

Reorganize nrgochi integration into self-contained package
  end-to-end-tests/testcases.json
  integrations/nrgochi/chi.go
  integrations/nrgochi/codegen.go
  integrations/nrgochi/example/gochi/expect.ref
  integrations/nrgochi/example/gochi/go.mod
  integrations/nrgochi/example/gochi/go.sum
  integrations/nrgochi/example/gochi/main.go
  parser/manager.go
Due: Parser

Reorganize nrgrpc integration into self-contained package
  end-to-end-tests/testcases.json
  integrations/nrgrpc/codegen.go
  integrations/nrgrpc/example/grpc/grpc/client/client.go
  integrations/nrgrpc/example/grpc/grpc/expect.ref
  integrations/nrgrpc/example/grpc/grpc/go.mod
  integrations/nrgrpc/example/grpc/grpc/go.sum
  integrations/nrgrpc/example/grpc/grpc/sampleapp/sampleapp.pb.go
  integrations/nrgrpc/example/grpc/grpc/sampleapp/sampleapp.proto
  integrations/nrgrpc/example/grpc/grpc/server/server.go
  integrations/nrgrpc/grpc.go
  parser/manager.go
Due: Parser

Reorganize nragent integration into self-contained package
  integrations/nragent/agent.go
  integrations/nragent/codegen.go
  parser/manager.go
Due: Parser

Reorganize nrnethttp integration into self-contained package
  end-to-end-tests/testcases.json
  integrations/nrnethttp/codegen.go
  integrations/nrnethttp/example/http-app/http-app/expect.ref
  integrations/nrnethttp/example/http-app/http-app/go.mod
  integrations/nrnethttp/example/http-app/http-app/go.sum
  integrations/nrnethttp/example/http-app/http-app/main.go
  integrations/nrnethttp/example/http-app/http-app/main_test.go
  integrations/nrnethttp/example/http-app/http-app/pkg/service.go
  integrations/nrnethttp/example/http-mux-app/http-mux-app/expect.ref
  integrations/nrnethttp/example/http-mux-app/http-mux-app/go.mod
  integrations/nrnethttp/example/http-mux-app/http-mux-app/go.sum
  integrations/nrnethttp/example/http-mux-app/http-mux-app/server.go
  integrations/nrnethttp/http.go
  parser/manager.go
Due: Parser

Complete integration reorganization cleanup
  cmd/instrument.go
  integrations/nrgrpc/grpc.go
  integrations/nrnethttp/codegen.go
  integrations/nrnethttp/http.go
  internal/codegen/agent.go
  internal/codegen/agent_test.go
  internal/codegen/codegen.go
  internal/codegen/context.go
  internal/codegen/error_test.go
  internal/codegen/gin.go
  internal/codegen/gin_test.go
  internal/codegen/gochi.go
  internal/codegen/gochi_test.go
  internal/codegen/grpc.go
  internal/codegen/grpc_test.go
  internal/codegen/http.go
  internal/codegen/http_test.go
  internal/codegen/mysql.go
  internal/codegen/mysql_test.go
  internal/codegen/segment_test.go
  internal/codegen/slog.go
  internal/codegen/transaction_test.go
  parser/agent.go
  parser/agent_test.go
  parser/errors.go
  parser/gin.go
  parser/gin_test.go
  parser/gochi.go
  parser/gochi_test.go
  parser/grpc.go
  parser/grpc_test.go
  parser/manager.go
  parser/manager_test.go
  parser/mysql.go
  parser/mysql_test.go
  parser/netHTTP.go
  parser/netHTTP_test.go
  parser/preinstrumentationtracing_test.go
  parser/slog.go
  parser/utils_test.go
Due: Parser, Codegen

Fix double-nested example directory structure
  integrations/nrgrpc/example/grpc/client/client.go
  integrations/nrgrpc/example/grpc/expect.ref
  integrations/nrgrpc/example/grpc/go.mod
  integrations/nrgrpc/example/grpc/go.sum
  integrations/nrgrpc/example/grpc/sampleapp/sampleapp.pb.go
  integrations/nrgrpc/example/grpc/sampleapp/sampleapp.proto
  integrations/nrgrpc/example/grpc/server/server.go
  integrations/nrnethttp/example/http-app/expect.ref
  integrations/nrnethttp/example/http-app/go.mod
  integrations/nrnethttp/example/http-app/go.sum
  integrations/nrnethttp/example/http-app/main.go
  integrations/nrnethttp/example/http-app/main_test.go
  integrations/nrnethttp/example/http-app/pkg/service.go
  integrations/nrnethttp/example/http-mux-app/expect.ref
  integrations/nrnethttp/example/http-mux-app/go.mod
  integrations/nrnethttp/example/http-mux-app/go.sum
  integrations/nrnethttp/example/http-mux-app/http-mux-app/go.sum
  integrations/nrnethttp/example/http-mux-app/server.go
Due: none

Restore test files to proper locations after accidental deletion
  integrations/nragent/codegen_test.go
  integrations/nragent/parsing_test.go
  integrations/nrgin/codegen_test.go
  integrations/nrgin/parsing_test.go
  integrations/nrgochi/codegen_test.go
  integrations/nrgochi/parsing_test.go
  integrations/nrgrpc/codegen_test.go
  integrations/nrgrpc/parsing_test.go
  integrations/nrmysql/codegen_test.go
  integrations/nrmysql/parsing_test.go
  integrations/nrnethttp/codegen_test.go
  integrations/nrnethttp/parsing_test.go
  internal/codegen/error_test.go
  internal/codegen/segment_test.go
  internal/codegen/transaction_test.go
  parser/manager_test.go
  parser/preinstrumentationtracing_test.go
  parser/utils_test.go
Due: Parser, Codegen

Export test helpers and fix parser tests
  go.mod
  go.sum
  integrations/nragent/codegen.go
  integrations/nragent/codegen_test.go
  parser/manager.go
  parser/manager_test.go
  parser/preinstrumentationtracing_test.go
  parser/utils_test.go
Due: Parser

Refactor tests and internal methods for gRPC instrumentation
  integrations/nragent/agent.go
  integrations/nragent/parsing_test.go
  integrations/nrgin/codegen.go
  integrations/nrgin/example/go.mod
  integrations/nrgin/example/go.sum
  integrations/nrgin/parsing_test.go
  integrations/nrgochi/parsing_test.go
  integrations/nrgrpc/grpc.go
  integrations/nrgrpc/parsing_test.go
  integrations/nrmysql/codegen_test.go
  integrations/nrmysql/mysql.go
  integrations/nrmysql/parsing_test.go
  integrations/nrnethttp/codegen_test.go
  integrations/nrnethttp/example/http-app/go.mod
  integrations/nrnethttp/example/http-app/go.sum
  integrations/nrnethttp/http.go
  integrations/nrnethttp/parsing_test.go
  internal/codegen/segment_test.go
  parser/grpc_internal_test.go
  parser/manager.go
  parser/manager_test.go
  parser/preinstrumentationtracing_test.go
  parser/testhelpers.go
  parser/utils_test.go
Due: Parser, Codegen

fix: add back gin/mysql tests
  integrations/nrgin/example/basic/expect.ref
  integrations/nrgin/example/basic/main.go
  integrations/nrgin/example/basic/main_test.go
  integrations/nrmysql/example/mysql/expect.ref
  integrations/nrmysql/example/mysql/main.go
Due: none

feat: add go.mod and go.sum for nrgin, nrmysql, and nrnethttp integrations
  integrations/nrgin/example/basic/go.mod
  integrations/nrgin/example/basic/go.sum
  integrations/nrmysql/example/mysql/go.mod
  integrations/nrmysql/example/mysql/go.sum
  integrations/nrnethttp/example/http-app/go.mod
  integrations/nrnethttp/example/http-app/go.sum
Due: none

fix: correct function naming conventions in test files
  integrations/nrnethttp/codegen_test.go
  integrations/nrnethttp/parsing_test.go
  internal/codegen/segment_test.go
  internal/util/typeInfo_test.go
Due: Codegen, Utilities

fix: correct function naming conventions in transaction tests
  internal/codegen/transaction_test.go
Due: Codegen

fix: correct function naming conventions in nragent tests
  integrations/nragent/codegen_test.go
  integrations/nragent/parsing_test.go
Due: none

fix: add support for JSON handler and multiple logging examples in nrslog integration
  end-to-end-tests/testcases.json
  integrations/nrslog/codegen.go
  integrations/nrslog/example/handler-options/expect.ref
  integrations/nrslog/example/handler-options/main.go
  integrations/nrslog/example/json-handler/expect.ref
  integrations/nrslog/example/json-handler/main.go
  integrations/nrslog/example/multiple-handlers/expect.ref
  integrations/nrslog/example/multiple-handlers/main.go
  integrations/nrslog/example/set-default/expect.ref
  integrations/nrslog/example/set-default/main.go
  integrations/nrslog/example/with-chaining/expect.ref
  integrations/nrslog/example/with-chaining/main.go
  integrations/nrslog/parsing_test.go
  integrations/nrslog/slog.go
Due: none

refactor: rename end-to-end-tests to validation-tests
  .github/workflows/end_to_end_tests.yml
  cmd/instrument_test.go
  cmd/interactive.go
  codecov.yml
  integrations/GUIDE.md
  integrations/README.md
  integrations/nrgin/example/go.mod
  integrations/nrgin/example/go.sum
  integrations/nrnethttp/example/http-app/go.mod
  integrations/nrnethttp/example/http-app/go.sum
  parser/README.md
  validation-tests/README.md
  validation-tests/errors/expect.ref
  validation-tests/errors/main.go
  validation-tests/semi-instrumented/existing-app/expect.ref
  validation-tests/semi-instrumented/existing-app/main.go
  validation-tests/semi-instrumented/existing-errors/expect.ref
  validation-tests/semi-instrumented/existing-errors/main.go
  validation-tests/semi-instrumented/existing-transactions/expect.ref
  validation-tests/semi-instrumented/existing-transactions/main.go
  validation-tests/semi-instrumented/existing-web-app/expect.ref
  validation-tests/semi-instrumented/existing-web-app/main.go
  validation-tests/testcases.json
  validation-tests/testrunner
  validation-tests/unit-tests/expect.ref
  validation-tests/unit-tests/go.mod
  validation-tests/unit-tests/go.sum
  validation-tests/unit-tests/integration/integration_tests.go
  validation-tests/unit-tests/main.go
  validation-tests/unit-tests/pkg1/pkg1.go
  validation-tests/unit-tests/pkg1/pkg1_test.go
  validation-tests/unit-tests/pkg2/pkg2.go
  validation-tests/unit-tests/pkg2/pkg2_test.go
  validation-tests/unit-tests/pkg3/pkg3.go
  validation-tests/unit-tests/pkg3/pkg3_test.go
  validation-tests/unit-tests/pkg4/obj.go
  validation-tests/unit-tests/util/util.go
  validation-tests/unit-tests/util/util_test.go
Due: Parser

remove accidental guide/readme additions
  integrations/GUIDE.md
  integrations/README.md
Due: none

refactor: rename end-to-end-tests to validation-tests
  .github/workflows/end_to_end_tests.yml
  cmd/instrument_test.go
  cmd/interactive.go
  codecov.yml
  integrations/nrgin/example/go.mod
  integrations/nrgin/example/go.sum
  integrations/nrnethttp/example/http-app/go.mod
  integrations/nrnethttp/example/http-app/go.sum
  parser/README.md
  validation-tests/README.md
  validation-tests/errors/expect.ref
  validation-tests/errors/main.go
  validation-tests/semi-instrumented/existing-app/expect.ref
  validation-tests/semi-instrumented/existing-app/main.go
  validation-tests/semi-instrumented/existing-errors/expect.ref
  validation-tests/semi-instrumented/existing-errors/main.go
  validation-tests/semi-instrumented/existing-transactions/expect.ref
  validation-tests/semi-instrumented/existing-transactions/main.go
  validation-tests/semi-instrumented/existing-web-app/expect.ref
  validation-tests/semi-instrumented/existing-web-app/main.go
  validation-tests/testcases.json
  validation-tests/testrunner
  validation-tests/unit-tests/expect.ref
  validation-tests/unit-tests/go.mod
  validation-tests/unit-tests/go.sum
  validation-tests/unit-tests/integration/integration_tests.go
  validation-tests/unit-tests/main.go
  validation-tests/unit-tests/pkg1/pkg1.go
  validation-tests/unit-tests/pkg1/pkg1_test.go
  validation-tests/unit-tests/pkg2/pkg2.go
  validation-tests/unit-tests/pkg2/pkg2_test.go
  validation-tests/unit-tests/pkg3/pkg3.go
  validation-tests/unit-tests/pkg3/pkg3_test.go
  validation-tests/unit-tests/pkg4/obj.go
  validation-tests/unit-tests/util/util.go
  validation-tests/unit-tests/util/util_test.go
Due: Parser

refactor: rename end-to-end-tests to validation-tests
  integrations/GUIDE.md
  integrations/README.md
Due: none

fix: gin detection
  cmd/instrument.go
  integrations/nragent/agent.go
  integrations/nrgin/gin.go
  parser/manager.go
  parser/preinstrumentationtracing.go
Due: Parser

remove guide/readme from this pr
  integrations/GUIDE.md
  integrations/README.md
Due: none

Update agent.go
  integrations/nragent/agent.go
Due: none

feat: Add comprehensive test coverage for core instrumentation pipeline
  parser/errorcache/error_cache_test.go
  parser/errors_test.go
  parser/tracing_test.go
  parser/transactioncache/transactioncache_test.go
Due: Parser

fix bugs in tests + allow codecov to run on PRs
  .github/workflows/codecov.yml
  parser/errorcache/error_cache_test.go
  parser/tracing_test.go
  parser/transactioncache/transactioncache.go
  parser/transactioncache/transactioncache_test.go
Due: Parser

feat: codecov on all PRs
  .github/workflows/codecov.yml
Due: none

feat: Add comprehensive test coverage (#127)
  parser/errorcache/error_cache_test.go
  parser/errors_test.go
  parser/tracing_test.go
  parser/transactioncache/transactioncache.go
  parser/transactioncache/transactioncache_test.go
Due: Parser

Bug Squashing (#125)
  .github/workflows/codecov.yml
  cmd/instrument.go
  integrations/nrgin/gin.go
  integrations/nrslog/codegen.go
  integrations/nrslog/example/handler-options/expect.ref
  integrations/nrslog/example/handler-options/main.go
  integrations/nrslog/example/json-handler/expect.ref
  integrations/nrslog/example/json-handler/main.go
  integrations/nrslog/example/multiple-handlers/expect.ref
  integrations/nrslog/example/multiple-handlers/main.go
  integrations/nrslog/example/set-default/expect.ref
  integrations/nrslog/example/set-default/main.go
  integrations/nrslog/example/with-chaining/expect.ref
  integrations/nrslog/example/with-chaining/main.go
  integrations/nrslog/parsing_test.go
  integrations/nrslog/slog.go
  parser/errorcache/error_cache_test.go
  parser/errors_test.go
  parser/manager.go
  parser/preinstrumentationtracing.go
  parser/tracing_test.go
  parser/transactioncache/transactioncache.go
  parser/transactioncache/transactioncache_test.go
  validation-tests/testcases.json
Due: Parser

bump rc
  cmd/version.go
Due: none

bump rc (#128)
  cmd/version.go
Due: none
