Repository newrelic/go-easy-instrumentation: changes, and which Codecov flags are due for each by the changed paths.
All: Parser, Codegen, Utilities

add NoticeError external call to e2e app
  end-to-end-tests/gochi/expect.ref
  end-to-end-tests/gochi/main.go
Due: none

test(chi): add chi codegen unit test
  internal/codegen/gochi_test.go
Due: Codegen

test: add gochi parser test
  parser/gochi_test.go
Due: Parser

fix: add alias for dst/ast recognition
  parser/gochi_test.go
Due: Parser

test: add chi middleware test
  parser/gochi_test.go
Due: Parser

feat: enhance instrumentation by checking for existing New Relic applications in main and functions
  end-to-end-tests/semi-instrumented/app-outside-main/main.go
  end-to-end-tests/semi-instrumented/basic/main.go
  parser/agent.go
  parser/manager.go
  parser/tracing.go
Due: Parser

feat: add test for semi-instrumented code with New Relic transaction handling
  parser/agent_test.go
Due: Parser

Added new relic to go mod indirect
  go.mod
Due: none

feat: update go.sum to include new New Relic agent and additional dependencies
  go.sum
Due: none

feat: add semi-instrumented to tests
  end-to-end-tests/semi-instrumented/app-outside-main/expect.ref
  end-to-end-tests/testcases.json
Due: none

feat: add function literal instrumentation for Chi routes
  internal/codegen/http.go
  parser/gochi.go
  parser/manager.go
  parser/netHTTP.go
Due: Parser, Codegen

test: add segment injection to function literal expect
  end-to-end-tests/gochi/expect.ref
  end-to-end-tests/gochi/main.go
Due: none

fix: specify request variable name
  parser/netHTTP_test.go
Due: Parser

fix: exit if request arg name is empty
  parser/gochi.go
Due: Parser

test: add Chi Literal test
  parser/gochi_test.go
Due: Parser

update function name and exported fn comments
  parser/gochi.go
  parser/gochi_test.go
  parser/manager.go
Due: Parser

add non-main test
  parser/gochi_test.go
Due: Parser

feat: refactor application checks in InstrumentMain for improved clarity and functionality
  parser/agent.go
Due: Parser

refactor: de-nest existing app check logic
  parser/agent.go
Due: Parser

feat(http): instrument http handler func literals
  internal/codegen/http.go
  parser/manager.go
  parser/netHTTP.go
  parser/netHTTP_test.go
Due: Parser, Codegen

refactor(http): convert http fnlit handler to stateless
  parser/manager.go
  parser/netHTTP.go
  parser/netHTTP_test.go
Due: Parser

refactor(http): improve segment naming
  parser/netHTTP.go
  parser/netHTTP_test.go
Due: Parser

chore: remove redundant return
  parser/netHTTP.go
Due: Parser

refactor(http): remove redundant method var, add check for net/http path
  parser/netHTTP.go
Due: Parser

tests(http): more func literal tests
  parser/netHTTP.go
  parser/netHTTP_test.go
Due: Parser

add listenandserve call
  parser/netHTTP_test.go
Due: Parser

move router func lit handler to stateless
  parser/manager.go
  parser/netHTTP.go
Due: Parser

add router literal test
  parser/netHTTP.go
  parser/netHTTP_test.go
Due: Parser

remove InstrumentHTTPHandleFuncLit
  parser/manager.go
  parser/netHTTP.go
  parser/netHTTP_test.go
Due: Parser

tests: add func lit tests to http-app
  end-to-end-tests/http-app/expect.ref
  end-to-end-tests/http-app/main.go
Due: none

bugfix(gin): fix conditional grouping (#96)
  parser/gin.go
Due: Parser

Update README.md
  README.md
Due: none

feat(http): extract request arg name from http route functions
  internal/codegen/http.go
  parser/netHTTP.go
  parser/netHTTP_test.go
Due: Parser, Codegen

test: update http-app test to verify req arg detection
  end-to-end-tests/http-app/expect.ref
  end-to-end-tests/http-app/main.go
Due: none

feat(http): extract request arg name from http route functions (#101)
  end-to-end-tests/http-app/expect.ref
  end-to-end-tests/http-app/main.go
  internal/codegen/http.go
  parser/netHTTP.go
  parser/netHTTP_test.go
Due: Parser, Codegen

refactor(net/http): refactor http handler detection
  parser/netHTTP.go
  parser/netHTTP_test.go
Due: Parser

fix: add Type name check to function lit
  parser/netHTTP.go
Due: Parser

refactor: consolidate isResponseWriter/isRequest logic
  parser/netHTTP.go
Due: Parser

chore: remove comment
  parser/netHTTP.go
Due: Parser

feat: implement transaction tracking and pre-instrumentation searching
  end-to-end-tests/semi-instrumented/go-agent-example/main.go
  parser/manager.go
  parser/preinstrumentation_tracing.go
  parser/tracing.go
  parser/transactioncache/transactioncache.go
  parser/types.go
Due: Parser

Path conditions:
  Parser: any of: parser/**, but not: end-to-end-tests/**
  Codegen: any of: internal/codegen/**, but not: end-to-end-tests/**
  Utilities: any of: internal/util/**, but not: end-to-end-tests/**
