Repository newrelic/go-easy-instrumentation: changes, and which Codecov flags are due for each by the changed paths.
All: Parser, Codegen, Utilities

gitignore
  .gitignore
Due: none

remove vscode files
  .vscode/launch.json
Due: none

remove gin testing script
  run-gin-tests.sh
Due: none

refactor gin function descriptions, added e2e tests for gin, and updated refs
  .gitignore
  end-to-end-tests/gin-examples/basic/expect.ref
  end-to-end-tests/gin-examples/go.sum
  end-to-end-tests/gin-examples/multiple-service/expect.ref
  end-to-end-tests/testcases.json
  parser/gin.go
Due: Parser

Combined FuncLit/Decl logic and created stateful tracing function
  end-to-end-tests/gin-examples/basic/expect.ref
  end-to-end-tests/gin-examples/basic/main.go
  end-to-end-tests/gin-examples/multiple-service/expect.ref
  end-to-end-tests/grpc/go.sum
  end-to-end-tests/http-app/go.sum
  internal/codegen/gin.go
  internal/codegen/gin_test.go
  parser/gin.go
  parser/gin_test.go
  parser/manager.go
Due: Parser, Codegen

gin go mod
  end-to-end-tests/gin-examples/go.mod
Due: none

Updated Expect Refs/better commenting tools
  end-to-end-tests/gin-examples/basic/expect.ref
  end-to-end-tests/gin-examples/cookie/expect.ref
  end-to-end-tests/gin-examples/custom-validation/expect.ref
  end-to-end-tests/gin-examples/file-binding/expect.ref
  end-to-end-tests/gin-examples/forward-proxy/expect.ref
  end-to-end-tests/gin-examples/graceful-shutdown/expect.ref
  end-to-end-tests/gin-examples/group-routes/expect.ref
  end-to-end-tests/gin-examples/http-pusher/expect.ref
  end-to-end-tests/gin-examples/http2/expect.ref
  end-to-end-tests/gin-examples/multiple-service/expect.ref
  end-to-end-tests/gin-examples/ratelimiter/expect.ref
  end-to-end-tests/gin-examples/realtime-advanced/expect.ref
  end-to-end-tests/gin-examples/reverse-proxy/expect.ref
  end-to-end-tests/gin-examples/secure-web-app/expect.ref
  end-to-end-tests/gin-examples/send_chunked_data/expect.ref
  end-to-end-tests/gin-examples/server-sent-event/expect.ref
  end-to-end-tests/gin-examples/struct-lvl-validations/expect.ref
  end-to-end-tests/gin-examples/template/expect.ref
  end-to-end-tests/gin-examples/upload-file/expect.ref
  end-to-end-tests/gin-examples/versioning/expect.ref
  end-to-end-tests/gin-examples/websocket/expect.ref
  internal/codegen/gin.go
  internal/comment/comment.go
  internal/comment/console.go
  internal/comment/console_test.go
  parser/gin.go
Due: Parser, Codegen

remove unused gin fact
  parser/facts/fact.go
Due: Parser

fixed gin tests
  parser/gin_test.go
Due: Parser

Add newline decoration to assignment statements in gin tests
  internal/codegen/gin_test.go
Due: Codegen

Removed anonymous function warnings from manager and updated refs
  end-to-end-tests/gin-examples/basic/expect.ref
  end-to-end-tests/gin-examples/cookie/expect.ref
  end-to-end-tests/gin-examples/graceful-shutdown/expect.ref
  end-to-end-tests/gin-examples/group-routes/expect.ref
  end-to-end-tests/gin-examples/multiple-service/expect.ref
  end-to-end-tests/gin-examples/ratelimiter/expect.ref
  end-to-end-tests/gin-examples/reverse-proxy/expect.ref
  end-to-end-tests/gin-examples/secure-web-app/expect.ref
  end-to-end-tests/gin-examples/send_chunked_data/expect.ref
  end-to-end-tests/gin-examples/server-sent-event/expect.ref
  end-to-end-tests/gin-examples/upload-file/expect.ref
  end-to-end-tests/gin-examples/versioning/expect.ref
  parser/gin.go
  parser/gin_test.go
  parser/manager.go
Due: Parser

expect ref naming
  end-to-end-tests/gin-examples/multiple-service/expect.ref
Due: none

go mod tidy
  end-to-end-tests/http-app/go.mod
  go.mod
Due: none

Code Cleanup + Robust unit testing
  parser/gin.go
  parser/gin_test.go
Due: Parser

Remove unused import from InstrumentGinMiddleware function
  parser/gin.go
Due: Parser

Gin Function rename
  parser/gin.go
  parser/gin_test.go
Due: Parser

Update README.md gin
  README.md
Due: none

fix typo in doc link url
  README.md
Due: none

initial cobra implementation committed for PR/testing/
  cli/CLI.go
  cmd/instrument.go
  cmd/root.go
  go.mod
  go.sum
  main.go
Due: none

removed superfluous Config struct
  cmd/instrument.go
Due: none

fixed testrunner
  cmd/instrument.go
  end-to-end-tests/gin-examples/go.mod
  end-to-end-tests/gin-examples/go.sum
  end-to-end-tests/grpc/go.sum
  end-to-end-tests/http-app/go.sum
  end-to-end-tests/http-mux-app/go.sum
  end-to-end-tests/testrunner
Due: none

fix nrgin: import the gin library to prevent breakage
  internal/codegen/gin.go
  internal/codegen/gin_test.go
  parser/gin.go
Due: Parser, Codegen

bump: update testify
  go.mod
  go.sum
Due: none

updated with gin fixes
  end-to-end-tests/gin-examples/go.mod
  end-to-end-tests/gin-examples/go.sum
  go.mod
  go.sum
Due: none

Outfile Improvements
  cmd/instrument.go
Due: none

Improve console printing of comments generated by the application.
  cmd/instrument.go
  end-to-end-tests/gin-examples/basic/expect.ref
  end-to-end-tests/gin-examples/cookie/expect.ref
  end-to-end-tests/gin-examples/file-binding/expect.ref
  end-to-end-tests/gin-examples/graceful-shutdown/expect.ref
  end-to-end-tests/gin-examples/group-routes/expect.ref
  end-to-end-tests/gin-examples/http-pusher/expect.ref
  end-to-end-tests/gin-examples/http2/expect.ref
  end-to-end-tests/gin-examples/multiple-service/expect.ref
  end-to-end-tests/gin-examples/ratelimiter/expect.ref
  end-to-end-tests/gin-examples/reverse-proxy/expect.ref
  end-to-end-tests/gin-examples/secure-web-app/expect.ref
  end-to-end-tests/gin-examples/send_chunked_data/expect.ref
  end-to-end-tests/gin-examples/server-sent-event/expect.ref
  end-to-end-tests/gin-examples/template/expect.ref
  end-to-end-tests/gin-examples/upload-file/expect.ref
  end-to-end-tests/gin-examples/versioning/expect.ref
  internal/comment/comment.go
  internal/comment/comment_test.go
  internal/comment/console.go
  internal/comment/console_test.go
  internal/comment/custom_position.go
  parser/agent.go
  parser/gin.go
  parser/manager.go
  parser/tracestate/traceobject/context.go
  parser/tracing.go
Due: Parser

use cobra check error for user input errors
  cmd/instrument.go
Due: none

refactored cli flags and args
  cmd/instrument.go
  cmd/root.go
  end-to-end-tests/testrunner
  go.mod
  go.sum
Due: none

contributor documentation
  README.md
  assets/architecture.png
  parser/README.md
  parser/grpc.go
  parser/manager.go
  parser/types.go
Due: Parser

dead code in tracing.go
  parser/tracing.go
Due: Parser

hyperlink end to end tests
  parser/README.md
Due: Parser

fix: linking files based on / as root
  parser/README.md
Due: Parser

improve logical flow of developer docs for parser
  parser/README.md
Due: Parser

additional godoc improvements
  README.md
  internal/codegen/codegen.go
  internal/comment/comment.go
  internal/comment/console.go
  internal/comment/console_test.go
  internal/comment/custom_position.go
  internal/util/compare.go
  internal/util/debug.go
  internal/util/typeInfo.go
  internal/util/util.go
  parser/agent.go
  parser/types.go
Due: Parser, Codegen, Utilities

unexport private type packagestate
  parser/grpc_test.go
  parser/manager.go
  parser/manager_test.go
Due: Parser

additional doc text for sub packages of parser
  parser/facts/fact.go
  parser/facts/keeper.go
  parser/tracestate/state.go
  parser/tracestate/traceobject/type.go
Due: Parser

fixed end to end tests
  end-to-end-tests/errors/expect.ref
  end-to-end-tests/gin-examples/basic/expect.ref
  end-to-end-tests/gin-examples/multiple-service/expect.ref
  end-to-end-tests/grpc/expect.ref
  end-to-end-tests/http-app/expect.ref
  end-to-end-tests/http-mux-app/expect.ref
Due: none

mod tidy
  go.mod
  go.sum
Due: none

some small cleanup to use native cobra methodss by default
  cmd/instrument.go
  cmd/root.go
  end-to-end-tests/http-app/go.mod
  end-to-end-tests/http-app/go.sum
Due: none

remove accidental go mod update
  end-to-end-tests/http-app/go.mod
  end-to-end-tests/http-app/go.sum
Due: none

Path conditions:
  Parser: any of: parser/**, but not: end-to-end-tests/**
  Codegen: any of: internal/codegen/**, but not: end-to-end-tests/**
  Utilities: any of: internal/util/**, but not: end-to-end-tests/**
