Repository newrelic/go-easy-instrumentation: changes, and which Codecov flags are due for each by the changed paths.
All: Parser, Codegen, Utilities

automate building go executables and cleaning them up for testing
  end-to-end-tests/README.md
  end-to-end-tests/testcases.json
  end-to-end-tests/testrunner
Due: none

disable debug prints by default
  parser/manager.go
Due: Parser

apply diff files to compiled test apps
  end-to-end-tests/testrunner
Due: none

fix: differentiate between httpHandlerFunc and httpHandle and remove funct literal from test case:
  end-to-end-tests/http-mux-app/server.go
  internal/codegen/http.go
  parser/netHTTP.go
Due: Parser, Codegen

fix: tests adjusted for http Handle fix
  end-to-end-tests/http-mux-app/expect.ref
  parser/netHTTP_test.go
Due: Parser

fixed downstream grpc functions
  end-to-end-tests/grpc/server/server.go
  internal/util/typeInfo.go
  parser/grpc.go
Due: Parser, Utilities

Added nil check for underlying check / re-added facts
  internal/util/typeInfo.go
  parser/grpc.go
Due: Parser, Utilities

Added Testing for Underlying Type Tool
  internal/util/typeInfo_test.go
Due: Utilities

Update ref
  end-to-end-tests/grpc/expect.ref
Due: none

Removed fact and unit test relating to fact detection in grpc server methods
  parser/grpc.go
  parser/grpc_test.go
Due: Parser

Code Cleanup
  parser/grpc.go
  parser/manager.go
Due: Parser

Remove unused test
  parser/grpc_test.go
Due: Parser

Fixed GetTxnFromGrpcServer Test
  parser/grpc_test.go
Due: Parser

removed unused test
  parser/grpc_test.go
Due: Parser

feat: resolve instrumented function calls in tests
  cmd/instrument.go
  end-to-end-tests/gin-examples/basic/expect.ref
  end-to-end-tests/http-app/expect.ref
  end-to-end-tests/http-app/go.mod
  end-to-end-tests/http-app/go.sum
  end-to-end-tests/http-app/main_test.go
  parser/manager.go
  parser/manager_test.go
  parser/tracestate/state.go
  parser/tracestate/state_test.go
  parser/tracing.go
Due: Parser

fix: updated end to end tests
  end-to-end-tests/http-app/expect.ref
  end-to-end-tests/unit-tests/go.mod
  end-to-end-tests/unit-tests/go.sum
Due: none

feat: more efficient traversal for tests
  parser/manager.go
  parser/manager_test.go
  parser/tracing.go
Due: Parser

fix: identify functions in unit tests more clearly
  end-to-end-tests/unit-tests/expect.ref
  end-to-end-tests/unit-tests/pkg3/pkg3_test.go
  end-to-end-tests/unit-tests/util/util.go
  parser/manager.go
Due: Parser

feat: add end to end test for complex unit tests
  end-to-end-tests/testcases.json
  end-to-end-tests/unit-tests/expect.ref
  end-to-end-tests/unit-tests/go.mod
  end-to-end-tests/unit-tests/go.sum
  end-to-end-tests/unit-tests/main.go
  end-to-end-tests/unit-tests/pkg1/pkg1.go
  end-to-end-tests/unit-tests/pkg1/pkg1_test.go
  end-to-end-tests/unit-tests/pkg2/pkg2.go
  end-to-end-tests/unit-tests/pkg2/pkg2_test.go
  end-to-end-tests/unit-tests/pkg3/pkg3.go
  end-to-end-tests/unit-tests/pkg3/pkg3_test.go
Due: none

fix: deduplicate transaction detection
  parser/manager.go
Due: Parser

fix: better detection for invocations in unit tests
  parser/manager.go
  parser/manager_test.go
  parser/tracing.go
Due: Parser

feat: sort diff generation by package name
  parser/manager.go
Due: Parser

fix: rename error for agent init to agentInitError
  end-to-end-tests/errors/expect.ref
  end-to-end-tests/gin-examples/basic/expect.ref
  end-to-end-tests/gin-examples/cookie/expect.ref
  end-to-end-tests/gin-examples/custom-validation/expect.ref
  end-to-end-tests/gin-examples/file-binding/expect.ref
  end-to-end-tests/gin-examples/forward-proxy/expect.ref
  end-to-end-tests/gin-examples/graceful-shutdown/expect.ref
  end-to-end-tests/gin-examples/group-routes/expect.ref
  end-to-end-tests/gin-examples/http-pusher/expect.ref
  end-to-end-tests/gin-examples/http2/expect.ref
  end-to-end-tests/gin-examples/multiple-service/expect.ref
  end-to-end-tests/gin-examples/ratelimiter/expect.ref
  end-to-end-tests/gin-examples/realtime-advanced/expect.ref
  end-to-end-tests/gin-examples/realtime-chat/expect.ref
  end-to-end-tests/gin-examples/reverse-proxy/expect.ref
  end-to-end-tests/gin-examples/secure-web-app/expect.ref
  end-to-end-tests/gin-examples/send_chunked_data/expect.ref
  end-to-end-tests/gin-examples/server-sent-event/expect.ref
  end-to-end-tests/gin-examples/struct-lvl-validations/expect.ref
  end-to-end-tests/gin-examples/template/expect.ref
  end-to-end-tests/gin-examples/upload-file/expect.ref
  end-to-end-tests/gin-examples/versioning/expect.ref
  end-to-end-tests/gin-examples/websocket/expect.ref
  end-to-end-tests/grpc/expect.ref
  end-to-end-tests/http-app/expect.ref
  end-to-end-tests/http-mux-app/expect.ref
  end-to-end-tests/unit-tests/expect.ref
  internal/codegen/agent.go
  internal/codegen/agent_test.go
  parser/agent_test.go
  parser/gin_test.go
  parser/netHTTP_test.go
Due: Parser, Codegen

More testing + bug fix
  end-to-end-tests/unit-tests/main.go
  end-to-end-tests/unit-tests/pkg3/pkg3.go
  end-to-end-tests/unit-tests/pkg3/pkg3_test.go
  parser/manager.go
Due: Parser

Unit Tests for isUnitTestDecl and GetInvocationInfoFromCall
  parser/manager_test.go
Due: Parser

fix: differentiate between test and non test decls
  end-to-end-tests/gin-examples/go.mod
  end-to-end-tests/unit-tests/expect.ref
  end-to-end-tests/unit-tests/go.mod
  end-to-end-tests/unit-tests/go.sum
  end-to-end-tests/unit-tests/integration/integration_tests.go
  end-to-end-tests/unit-tests/pkg1/pkg1_test.go
  end-to-end-tests/unit-tests/pkg2/pkg2_test.go
  end-to-end-tests/unit-tests/pkg3/pkg3_test.go
  end-to-end-tests/unit-tests/util/util_test.go
  internal/util/typeInfo.go
  parser/agent.go
  parser/manager.go
  parser/manager_test.go
Due: Parser, Utilities

check underlying types gRPC
  internal/util/typeInfo.go
  parser/grpc.go
Due: Parser, Utilities

fix tracestate for grpc
  end-to-end-tests/grpc/expect.ref
  end-to-end-tests/grpc/server/server.go
  parser/grpc.go
  parser/grpc_test.go
  parser/tracestate/state.go
  parser/tracestate/traceobject/context.go
  parser/utils_test.go
Due: Parser

detects nested and comples call expressions -- buggy
  end-to-end-tests/unit-tests/main.go
  end-to-end-tests/unit-tests/pkg3/pkg3.go
  end-to-end-tests/unit-tests/pkg4/obj.go
  parser/manager.go
  parser/manager_test.go
  parser/tracing.go
Due: Parser

fix: prevent duplicate transactions for nested function calls in Main
  parser/tracing.go
Due: Parser

feat: detect chained method calls, and pass tracing through them
  parser/manager.go
Due: Parser

fix: update unit-test expect ref
  end-to-end-tests/unit-tests/expect.ref
Due: none

chore: update run instructions
  README.md
Due: none

chore: update run instructions (#94)
  README.md
Due: none

feat: add check for existing New Relic application before agent initialization in InstrumentMain
  parser/agent.go
Due: Parser

bugfix(gin): fix conditional grouping
  parser/gin.go
Due: Parser

feat(chi): add nr middleware injection
  internal/codegen/gochi.go
  parser/gochi.go
Due: Parser, Codegen

fix(chi): correct import path
  parser/gochi.go
Due: Parser

fix(chi): add chi injection to manager
  parser/manager.go
Due: Parser

feat(chi): add Chi e2e tests
  end-to-end-tests/gochi/expect.ref
  end-to-end-tests/gochi/go.mod
  end-to-end-tests/gochi/go.sum
  end-to-end-tests/gochi/main.go
Due: none

Path conditions:
  Parser: any of: parser/**, but not: end-to-end-tests/**
  Codegen: any of: internal/codegen/**, but not: end-to-end-tests/**
  Utilities: any of: internal/util/**, but not: end-to-end-tests/**
